<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title|title }}</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="">
    // https://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript
    function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
    }

    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }

        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    function copyTestNameToClipboard(testName) {
        copyTextToClipboard(testName);
    }

    function copyTestDetailsToClipboard(parentId) {
        var array = new Array();

        $('div','#' + parentId + '_error_group_collapse_details').each(function(){
            array.push($(this).html());
        });

        var message = array.join('\n');

        copyTextToClipboard(message);
    }

    function copyAllTestNamesToClipboard() {
        var array = new Array();

        $('#error_group_collapse a').each(function(){
            array.push($(this).html());
        });

        var message = array.join('\n');
        copyTextToClipboard(message);
    }
    </script>
    <style>
        .btn {
            opacity: 0;
        }

        .panel-body-header:hover .btn {
            opacity: 1;
        }

        .panel-title:hover .btn {
            opacity: 1;
        }
    </style>
</head>
<body>
<div class="jumbotron text-center">
    <h4>{{ project_name }} {{ title }}</h4>
    <h5>{{ from_location }}</h5>
</div>
<div class="container">

    {% if warning_message | length > 0 %}
    <div class="alert alert-secondary" role="alert">
        {{ warning_message }}
        {% for data in raw_data %}
            <div>{{ data }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="panel-group">
        <!-- Skipped test results -->
        {% if ignored_tests |length > 0 %}
        <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#skipped_group_collapse">{{ ignored_tests | length }} skipped tests </a>
              </h4>
            </div>
            <div id="skipped_group_collapse" class="panel-collapse collapse">
              <div class="panel-body">
                    {% for test in ignored_tests %}
                        <div>{{ test.name }}</div>
                    {% endfor %}
              </div>
            </div>
        </div>
        {% endif %}

        <!-- Successful test results -->
        {% if successful_tests |length > 0 %}
        <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#success_group_collapse">{{ successful_tests | length }} successful tests </a>
              </h4>
            </div>
            <div id="success_group_collapse" class="panel-collapse collapse">
              <div class="panel-body">
                    {% for test in successful_tests %}
                        <div>{{ test.name }}</div>
                    {% endfor %}
              </div>
            </div>
        </div>
        {% endif %}

        <!-- error test results -->
        {% if failed_tests | length > 0 %}
        <div class="panel panel-danger">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" href="#error_group_collapse">{{ failed_tests | length }} failed tests </a>
                  <button type="button" class="btn btn-link bnt-sm" onclick="copyAllTestNamesToClipboard()">(Copy)</button>
              </h4>
            </div>
            <div id="error_group_collapse" class="panel-collapse collapse in">
              <div class="panel-body">
                  {% for test in failed_tests %}
                    <div class="panel-body-header">
                        <a data-toggle="collapse" href="#{{ test.id }}_error_group_collapse">{{ test.name }}</a>
                        <button type="button" class="btn btn-link bnt-sm" onclick="copyTestNameToClipboard('{{ test.name }}')">(Copy)</button>
                        <button type="button" class="btn btn-link bnt-sm" onclick="copyTestDetailsToClipboard('{{ test.id }}')">(Copy Details)</button>
                    </div>

                    <!-- details of failed test -->
                    <div class="panel panel-info">
                        <div id="{{ test.id }}_error_group_collapse" class="panel-collapse collapse in">
                            <div id="{{ test.id }}_error_group_collapse_details" class="panel-body">
                                {% for testline in test.test_details %}
                                    <div>{{ testline }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
        </div>
        {% endif %}

    </div>

</div>
</body>
</html>